########################################################################################################################
# TODO Requirements Package Dependencies
########################################################################################################################
setuptools
build

########################################################################################################################
# => NOTE dependencies first:
########################################################################################################################
python-dotenv>=0.21.1
numpy>=1.24.1
opencv-contrib-python>=4.7.0.68 # <= DESC | standard packages [standard packages: opencv-python or full packages: opencv-contrib-python]
imutils>=0.5.4
git+https://github.com/MrYassinox/utils-standard.git@main

########################################################################################################################
# => NOTE dependencies seconde:
########################################################################################################################

########################################################################################################################
# => NOTE dependencies whl:
########################################################################################################################
#  It is possible to refer to specific local distribution paths [./downloads/numpy-1.9.2-cp34-none-win32.whl] or It is possible to refer to URLs.[http://wxpython.org/wxPython-cp34-none-win_amd64.whl]

########################################################################################################################
# => NOTE dependencies optional:
########################################################################################################################
#/ gdown
#/ GitPython
#/ ffmpeg
#/ invisible-watermark
pdocs>=1.2.0
Pygments>=2.15.1
lazydocs>=0.4.8
pydocstyle>=6.3.0

-e .